body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ededed;
}
div{
border: 1px solid #0f0;
}
.main{
    display: flex;
    flex-direction: row;
}
.navbar{
    flex-direction: column;
    flex-grow: 1;
    background-color: #454850;
    color: #fff;
}
.navbarup{
    width: 100%;
    background-color: #333b43;
    height: 20px;
}
.sidebar{
    
}
.topbar{
    height: 90px;
    background-color:#007383;
}
.topbarup{
    width: 100%;
    background-color: #114f55;
    height: 20px;
}
.logo{
    padding: 6px;
    height: 50px;
}
.userprofile{
    padding: 6px;
    height: 50px;
}
.userprofile img{
    max-height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 9;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col1{
    display: flex;
    flex-direction: column; 
}
.col2{
    display: flex;
    flex-direction: column; 
}
.itemheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
}
.itemheader div{
    padding: 4px;
}
.listrow{
    display: flex;
    flex-direction: column; 
}
.item{
    display: flex;
    flex-direction: row; 
}
.cant{
    display: flex;
    flex-grow: 1;
}
.plusbutton{
    display: flex;
    flex-grow: 1;
}
.minusbutton{
    display: flex;
    flex-grow: 1;
}
.description{
    display: flex;
    flex-grow: 2;
}
.tax{
    display: flex;
    flex-grow: 1;
}
.total{
    display: flex;
    flex-grow: 1;
}
.destroy{
    display: flex;
    flex-grow: 1;
}
.tabsrow{
    display: flex;
    flex-direction: row;
    column-gap: 1px;
}
.tabsrow selected{
    border-bottom: 2px solid #34d;
}
.tabsrow span{
    padding:4px;
    border-right: 1px solid #ccc;
}
.gridrow{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}
.product{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.paymentrow{
    display: flex;
    flex-direction: row;
}
.paymethod{
    display: flex;
    flex-wrap: wrap;
}
.paybutton{
    width: 200px;
    height: 200px;
    background-color: dimgrey;
    font-size: 3em;
    font-weight: bold;
}
img {
    max-width:100%;
}