div{
border: 1px solid #F00;
}
.main{
    display: flex;
    flex-direction: row;
}
.navbar sidebar{
    flex-direction: column;
    flex-grow: 1;
}
.content{
    display: flex;
    flex-direction: column;
    flex-grow: 9;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col1{
    display: flex;
    flex-direction: column; 
}
.col2{
    display: flex;
    flex-direction: column; 
}
.listrow{
    display: flex;
    flex-direction: column; 
}
.item{
    display: flex;
    flex-direction: row; 
}